language: node_js
node_js:
- '4.1.2'
sudo: false
cache:
  directories:
  - node_modules
before_install:
- export PATH=/usr/local/phantomjs-2.0.0/bin:$PATH
- npm config set spin false
- npm install -g npm@^2
install:
- npm install
- npm install -g grunt-cli
- npm install -g codeclimate-test-reporter
- npm install -g istanbul
script:
- grunt ci
- ./test/assets/runtests.sh

